#DMHelper ignores
DMHelper/bin32
DMHelper/bin64
DMHelper/build
DMHelper/build-32_bit-debug
DMHelper/build-32_bit-profile
DMHelper/build-32_bit-release
DMHelper/build-64_bit-debug
DMHelper/build-64_bit-profile
DMHelper/build-64_bit-release
DMHelper/Desktop_Qt*
DMHelper/out
DMHelper/rawdata
DMHelper/testdata
DMHelper/release
DMHelper/src/.vs
DMHelper/src/DMHelper.pro.user
DMHelper/src/DMHelper.pro.user*
DMHelper/working
DMHelper/DM Helper release.__zip
DMHelper/DM Helper release.zip
DMHelper/DMHelper.log
DMHelper/src.zip

#DMHelper Shared ignores
DMHelperShared/bin32
DMHelperShared/bin64
DMHelperShared/build-32_bit-debug
DMHelperShared/build-32_bit-profile
DMHelperShared/build-32_bit-release
DMHelperShared/build-64_bit-debug
DMHelperShared/build-64_bit-profile
DMHelperShared/build-64_bit-release
DMHelperShared/release
DMHelperShared/src/DMHelperShared.pro.user*
DMHelperShared/DM Helper Shared release.__zip
DMHelperShared/src.zip

#DMHelper Client ignores
DMHelperClient/bin32
DMHelperClient/bin64
DMHelperClient/build-32_bit-debug
DMHelperClient/build-32_bit-profile
DMHelperClient/build-32_bit-release
DMHelperClient/build-64_bit-debug
DMHelperClient/build-64_bit-profile
DMHelperClient/build-64_bit-release
DMHelperClient/rawdata
DMHelperClient/release
DMHelperClient/working
DMHelperClient/src/DMHelperClient.pro.user*
DMHelperClient/DM Helper Client release.__zip
DMHelperClient/DMHelperClient.log
DMHelperClient/src.zip

#DMHelper Test ignores
DMHelperTest/bin32
DMHelperTest/bin64
DMHelperTest/build-32_bit-debug
DMHelperTest/build-32_bit-profile
DMHelperTest/build-32_bit-release
DMHelperTest/build-64_bit-debug
DMHelperTest/build-64_bit-profile
DMHelperTest/build-64_bit-release
DMHelperTest/working
DMHelperTest/src/DMHelperTest.pro.user*

#DMHelper Backend ignores
DMHelper-Backend/Pages/config.inc.php
DMHelper-Backend/Pages/dbv/data/meta/revision
DMHelper/.DS_Store
.DS_Store
DMHelper/DM Helper Release MAC.zip
DMHelper/src/.qmake.stash
DMHelper/src/DMHelper.pro.user
DMHelper/src/DMHelper.pro.user
DMHelper/src/Makefile
*.user
DMHelper/src/DMHelper.pro.user
DMHelper/DM Helper 64-bit release.zip
DMHelper/src/DMHelper.pro.user
DMHelper/DM Helper macOS release.zip
DMHelper/src/DMHelper.pro.user
DMHelperDocumentation/Darkore Mine/videos/Cavern Crossroad.mp4
src.zip
bin64/DMHelper.log
bin64/Qt5Xml.dll
DM Helper 64-bit release.zip
DMHelper/DM Helper 64-bit release Installer.exe
DMHelper/DM Helper macOS release Installer.app

DMHelper/DMHelper 64-bit release Installer.exe
DMHelper/DMHelper 64-bit release.zip
DMHelper/DMHelper 32-bit release Installer.exe
DMHelper/DMHelper 32-bit release.zip
build-64_bit-release