v4.0
- Map Manager
- Soundboard reboot
- Update overlays to be positionable, configurable, colorable, iconable, not auto-visible
- Distance measurement in daggerheart/range version
- Configurable / Daggerheart initiative entries
- Move search terms into campaign
- Separate Campaign settings from main options dialog
- Retool and resize menus


Next version
=======

and one that aims to even out the playing field. again first rolled initiative counts and from there it's taking turns - even if the numbers are uneven. 2 enemies, 4 players, means each player takes a turn once and the 2 enemies take turns twice
3 enemies, 2 players - 1 turn per enemy and one of the players gets to go twice - next round it would be the other player twice
in a sense you are keeping two initiative orders and are just switching between them every time

The second is tricky, but there's a clear algorithm, easy enough: split into two, sort each by normal methods, then recombine with equal parts

Mouse status not always exclusive
Open log directory button
Clear cache button
Effect layers: rain (particles), clouds (noise), birds/flying (particles), fire (particles), smoke (particles), fog (noise), lightning (particles), snow (particles), wind (noise)
Announcements
Fixed-zoom for mini play
    Set zoom rectangle size to player window size

https://lygia.xyz/

Big features
* Video-based combat objects
* Real mini support (locked scale)
* Templates
* UI redesign

Small features
* Movement ring size isn't scaled right vs token scale
* Double-click on a combatant widget centers the map on the combatant
* Double-click on an effect token opens the edit for that token
* name layers based on filename, not full path
* party alt icon should be a relative path if possible
* something wonky in the DM side of the scrolling text show
* check volume usage across audio classes
* Lighting-based FOW layers (torch radius or so)

Video references:
<a href="https://www.vecteezy.com/video/1803905-water-ring-splashes-in-a-circle-flow">Water ring splashes in a circle flow Stock Videos by Vecteezy</a>
<a href="https://www.vecteezy.com/video/14196883-smoke-animation-loop-seamless-design-on-black-background-overlay-on-background-3d-illustratio">Smoke Animation Loop seamless design on black background. Overlay on background.3D Illustratio Stock Videos by Vecteezy</a>
<a href="https://www.vecteezy.com/video/23951445-shockwave-smoke-splash-super-hero-landing-vfx-power-hit-shock-wave-large-smoke">Shockwave Smoke Splash super hero landing vfx power hit Shock wave Large smoke Stock Videos by Vecteezy</a>

* Undo-redo on drawing fow
* Make grid button a flat pushbutton that opens its own popup menu
* Fix map markers scaling of icons to fit the rest
* Asset library
* Save new campaign --> default file name is campaign name
* Remove dead code (e.g. battleframe, map, layerfow)
* Add new item dialog instead of pseudo-wizards / clean up mainwindow: newbattle function
* Switch between party icon and players on a battle (aka toggle initiative)
* Backend queries as a class to automate the versioning and debug query


Audio requirements:
mybigfriendjo — Today at 4:49 PM
well, the thing is - there is 2 "types" of sound for me
the first one is music - the other one is ambience. and within ambience you have 2 types as well - continuous and one-hits
so there is different requirements for those types
music is pretty straightforward - requirement is play music and be able to have a list of music queued that is able to randomize, repeat (song or list)
not so much to play multiples at once
for ambience there is more mixture going on - you might have the underlying tones of a creaking ship, next to some waves and every now and then either manually per button or with some long timeouts a one-hit of some whale sound to keep it interesting but not overbearing
so depending which role you want to fill (or even both roles) there are different expectations of capability i feel
there are things that i expect from spotify that i don't expect from syrinscape and vice versa for example
not sure if those can be combined in a sensible way - or if they should have their own little areas where one tab in the sound board is a music player like spotify - and the other is what the soundboard is now - multiple sounds that are being mixed together as background ambiance
mybigfriendjo — Today at 4:58 PM
i mean there is a reason why i'm using 2 different apps for those 2 different kinds of requirements



Sample Code - overlay pixmap for an intro tutorial
QLabel* newLabel = new QLabel(this);
QPixmap activePixmap(":/img/data/active.png");
newLabel->setMinimumSize(activePixmap.size());
newLabel->setMaximumSize(activePixmap.size());
newLabel->setAttribute(Qt::WA_TranslucentBackground);
newLabel->move(50,50);
newLabel->setPixmap(activePixmap);
newLabel->raise();
newLabel->show();

* delete key to remove a combatant or effect
Remove _model->getGridScale()
Move updatecombatanticon from battleframe to layertokens

Bug: when creating a battle and setting stuff up i can then adjust the grid count across by clicking the "..." button next to the size
but once i entered the count in there the grid size does not adjust it's value
so if i've been off with counting or want to adjust it just a bit so it fits better - i'm back to 100 or whatever the default is


Video requirements
Audio by Michael Ghelfi Studios
https://michaelghelfistudios.com/
Sound effects from https://quicksounds.com
If they are just being shown in videos you can absolutely use them. Just make sure you are including a credit for me, with a link to my website or Patreon, and a credit for Splattered Ink Games for the token artwork and a link to their website - splatteredink.com

v3.0
feature * Scale the initiative list freely
feature * Change layer with multiple selections
feature * Double-click in change layer dialog to pick dialog
fixed * Black screen rendering map/battle
fixed * Ctrl and mouse move should not move map, but enable multiple selections
fixed * resizing grid needs to resize tokens
fixed * editing DM-invisible layer makes it visible
fixed * changing layer with no selection doesn't do anything (should take the target item)
fixed * edit FOW icon in combat is the wrong size
fixed * can't add an image to a new monster in the bestiary
fixed * maybe selection icons aren't always rightly sized?
fixed * select many and delete doesn't delete them all
fixed * select many and link doesn't link them all
fixed * select many and heal/damage doesn't heal/damage them all
fixed * select many and change token doesn't change them all
fixed * change token doesn't change how it looks on the DM View - need to recreate the icon
fixed * shift magic effects to other layer doesnt work
fixed * edit effect sets the size wrong
done * Players side of blank layer
done * create blank map
done * create combat on map/video
done * edit dialog: create new blank layer
fixed * Select on the map doesn't select on the widget list
fixed * find map fitting to battle doesn't work
fixed * Dead don't disappear when HP set to zero
fixed * Resize to visible
fixed * Editing FoW has an offset based on negative position of scene rect
fixed * Editing area on battle doesn't work
fixed * edit dialog: create new text layer
fixed * invisible player video should not start the video playback
fixed * old scrolling text doesn't scroll
fixed * old videos are not recognized, leads to broken mapframe
fixed * party icon not visible
fixed * markers (neverwinter region) seem to not work
Not reproducible * resize camera view
Not reproducible * Fog of war from old to new
fixed * Saving a combat with FOW reference doesn't refer to the fow but the map
fixed * Layers list in the wrong order
done * Tie layers together
done * One button for layer visibility
done * Layer titles from references
done * Layer icon for references
fixed * Multiple FOW zoom not working - doesn't like reference FOWs
fixed * FOW edit doesn't scale with zoom
done * Save As should add the current file name to the dialog
fixed * Markers add unknown elements to maps

v2.5.11
done * Add choice of Layer to add monsters to monster selection dialog
done * Select priority only returns visible alternative layers (allows an explicitly selected layer if invisible)
done * Making a layer invisible could deselect it
done * Mouse over layers button shows name of currently active layer
done? * Use screenshot until video shows up
done * Use name of file for layer name in image/video
done * Renaming a layer moves it in the order

v2.5.7
fixed * Crashes when adding an FOW layer
fixed * Resizing video not always working
fixed * Resized video unsized when restarted
fixed * Invisible token layer should be skipped in player initiative, not in initiative order DM Side when invisible on both
fixed * DM View token layer of selection not visible, active token hidden

v2.5.6
2) As far as layer functions are concerned, the grid is not visible in any way.
Also, sometimes adding elements (text, video, images) via the layer edit window crashes the program.
Unfortunately, I have not been able to recognize a pattern in this behavior that would allow me to speculate what the step might be that causes the program to crash.
3) Finally, a problem regarding combats. When creating a combat by assigning a map it is not visible in any way in the master window. You can see the map in the players window (however without a grid). Adding a monster shifts the view of the map in the players window by centering the view on the monster.
works * Create/edit/move effect doesn't dirty
fixed * Include "add XYZ..." to right-click context menu
fixed * Party icon on map not scaled right
done * backwards compatibility - add a grid layer only if "showGrid==1" or true
fixed * Make the tooltip for a combatant or effect mention their layer
fixed * Add combatants have the wrong Z-value
fixed * Show living, show dead don't work when battle is running (only when activated)
fixed * Show effects never works
fixed * dirty on load of campaign
fixed * Changes to effects or combatants only affects one, not all
done * Duplicate effects or non-PC combatants
fixed * Pointer position doesn't work

v2.5.5
fixed * Create spell gives object transparency from base shape
fixed * added effect doesn't then move with the Layer
fixed * delete effect doesn't work
fixed * line and description not on the front
fixed * line and description not publishing
fixed * grid controls not working
fixed * burning hands effect doesn't resize with grid size
fixed * Grid type should no be a button, not clickable
fixed * need to be able to change layers for effects
fixed * Effect markers on enemies not visible
fixed * Selection and Active markers in publish version
fixed * moving pc between layers ruins rendering
fixed * Selection and Active markers not visible from the beginning
fixed * Moving character on the publish screen leaves the selection active, doesn't highlight on the dm screen
fixed * Hide layers separately between DM and Player windows


Checkpoint: when adding a new attribute/item to a campaign entry, consider:
* presentation in the view
* output/input
* export/import (copy)



IMPORTANT: FIND OUT ABOUT THE DEPENDENCY ON WINDOWS DISTRIBUTABLE, DIFFERENT FROM PREVIOUS
1. Soundboard
    DONE - First draft done with local files, youtube and syrinscape playback.
    DONE - Some detailed functionality such as track duration and playback time
    DONE - Save the Soundboard
    Online Syrinscape (beta)
2. Spellbook
    DONE - Engineering version with PHB (WotC IP) data
    DONE - Non-standard meta-data like conditions/damage caused, color/shape of AoE effects, or optional images for use on a battle map
    DONE - Images and shapes need to be saved
    DONE - SRD data xml
    Potential need for xml reading performance improvement
3. Conditions
    DONE - Can be set in battles
    DONE - Visual reminders in DM view
    DONE - Visual reminders in Player's Window
    Impact on e.g. movement or other
    Action roll-over
    DONE - Improved selection of the effects on the screen
4. Layers - not started yet
5. I would like to make the player's window skinnable
    DONE - Basic skinning
    DONE - Full list of next combatants in on-deck list
    Add an additional frame for the whole Player's Window
6. Player's Window control of battle contents
    DONE
    DONE - Movement circle for movement from the Player's Window
7. Other
    DONE - position of objects in battle correctly saved
    DONE - old-school (v1.5 or earlier) notes from battles are shown as child text elements
    DONE - Crashes after moving items around
    DONE - Crash on Zoom to Fit without a map
    DONE - External links
    DONE - Editing/Saving of monster skills enabled
    DONE - Editing/Saving of character and monster size enabled
    DONE - Edit map file possible
    DONE - Split Max HP and Current HP
    DONE - Improved importer AC and HP calculations
    DONE - Import Character puts it in the selected tree items


Long actions that need a loading bar
- opening a bestiary
- opening a spellbook
- opening a campaign
- reading a map
- importing a campaign
- importing a bestiary
- importing a character
- updating a character
- updating a party

    Background color default to black, not transparent
    Background color on maps defaults weird

    Conditions
    Other effects, tie things to individuals

Remove dicerollframe

    Improve Objects and Effects editing
    Object editing should allow editing width or height...
    Delete key in battle
    Drag a character to top doesn't make it an NPC
    Add progress indications to loading campaigns and importing characters (and maybe maps?), new bestiary/spellbook, etc
    Delete entry in the tree move selection to parent item
    Pointer on maps

Red color:  _color(115,18,0,64)

General Todos:
Create generic Bestiary imports - some sort of contribution mechanism?
Online docs
Marketing Videos
Make truly opensource

v2.2+ Features:
1) Syrinscape integration
3) Youtube Vidoes?
6) OpenGL based battles?

v3.0 Todos:
1) Update Documentation


add opensource comments on all files
white grid or black screen at button click
Import/Export bestiary
House rules bucket
Split Bestiary into Generic Bestiary and Custom Bestiary, merged into a single list / multiple bestiary files
Text encounters need font and color management
Markers for maps

Multiselect
Draw things on battle map
Correct XP calculations - calculate to reflect multiple monsters
Export/Import of individual adventures, party, characters, encounters
Item cards like in Critical Role

Shortcuts
Ctrl+Q: Quit DMHelper
Ctrl+W:     (Close Window)
Ctrl+E: Opens the DM Screen
Ctrl+R: Opens the Quick Reference Guide
Ctrl+T: Tables Tables Tables
Ctrl+Z: Undo
Ctrl+U: Underline
Ctrl+I: Italics
Ctrl+O: Open a campaign
Ctrl+P: Publish the current image or toggle Publishing
Ctrl+A:
Ctrl+S: Save the current campaign
Ctrl+D: Dice roll Dialog
Ctrl+F: Find
Ctrl+G: Go to the Soundboard
Ctrl+H: Go to the Spellbook
Ctrl+J:
Ctrl+K: Opens the Kalendar
Ctrl+Y: Redo
Ctrl+X: Cut
Ctrl+C: Copy
Ctrl+V: Paste
Ctrl+B: Bold
Ctrl+N: Move to the Next combatant (in Combats only)
Ctrl+M: Open the Bestiary to search for Monsters


Localization:
Italian: Rufus Loacker
Portugese: texmex42


syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCdXN5IG1hcmtldCBkYXk/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpCYXJkJ3MgZGF5IG9mZg/play/

syrinscape-fantasy:moods/YnJpbmRvbC10b3duOjpTZXR0aW5nIHVwIGZvciBNb3JuaW5nIFRyYWRl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LWhvcnNl/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LUNvdw/play/

syrinscape-fantasy:elements/YnJpbmRvbC10b3duOjo2LVJvb3N0ZXI/play/

syrinscape-fantasy:stop/



Install
Install Qt
Install MS Visual Studio community version
    MSVC v142 VS 2019 C++ x64/x86 build tools
    Windows 10 SDK
Copy binsrc to debug build directory


